<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Lilita+One&family=Neuton&display=swap" rel="stylesheet">
    <div class="wrapper fadeInDown">
  <div id="contenido">
 <div class="center"›
    
    </h1>
    <h1 class="titrepaso">¡BIENVENIDO ADMINISTRADOR!</h1>
        <input style="margin-right: 3%; background-color: #7894FF;" type="button" class="fadeIn first" onclick='window.location.replace("/agregar")' value="SUBIR CONTENIDO">
        <input style="background-color: #D21E26" type="submit" class="fadeIn second" onclick='window.location.replace("/editar")' value="MODIFICAR CONTENIDO">
    <input style="margin-right: 4%; top: 80%;background-color: #FBB731"  type="button" class="fadeIn third" onclick='window.location.replace("/eliminadmin")' value="ADMINISTRAR USUARIOS">
    </div>
    <div id="parteabajo">
      <input style=" margin-left: 5%; top: 80%; background-color: #FF699F" type="button" class="fadeIn fourth" onclick='window.location.replace("/eliminar")' value="ELIMINAR CONTENIDO">
     <input style="background-color: #F9ACD5" type="submit" class="fadeIn second" onclick='window.location.replace("/editarusuarios")' value="EDITAR USUARIOS">
    </div>
    </div>
      <img class="repasoimg" src="https://clipart-library.com/images/kcMnnkR6i.png" width="250px"; height="250px"; margin-top="30%";>
    </form>
<form action="/" method="GET" class="container-sm">
  <div class="mb-3 form-check">
      <input style="margin-top:36%;background-color: #FBB731; border-radius: 10px; padding: 10px 20px; color: #fff; cursor: pointer; font-family: 'Bebas Neue', sans-serif; font-size: 20px;"type="submit" class="btn btn-primary" value="Cerrar sesión">
  </div>
</form>