<div id="CONTENIDOEDITAR">
<center>
 <H2 id="h2elim">Eliminar preguntas</H2>
        <h4>ID de la pregunta a eliminar</h4>
    
        <div class="mb-1 form-check">
            <input name="idPregunta" id="idPregunta" type="numero" placeholder="ID (solo números)">
        </div>
        <class="mb-1 form-check">
            <input type="submit" onclick="eliminarPregunta()" class="btn btn-primary" value="ELIMINAR PREGUNTA">
        </div>
        <form action="/" method="GET" class="container-sm">
            <div class="mb-3 form-check">
                <input type="submit" class="btn btn-primary" value="Cerrar sesión">
            </div>
        </form>
        <form action="/admin" method="GET" class="container-sm">
            <div class="mb-3 form-check">
                <input type="submit" class="btn btn-primary" value="Volver">
            </div>
        </form>
    </div>
 <center> 
   <img class="imagenelim" src="https://1000logos.net/wp-content/uploads/2023/05/Skull-Emoji.png"/>
  </center>
</center>