<div id="CONTENIDOEDITAR">
<center>
 <H2 id="h2elim">Eliminar usuarios</H2>
        <h4>Email de la persona para eliminar</h4>    
        <div class="mb-1 form-check">
            <input name="idusuario" id="idusuario" placeholder="Email">
        </div>
        <class="mb-1 form-check">
            <input type="submit" onclick="eliminarUsuarios()" class="btn btn-primary" value="ELIMINAR USUARIO">
        </div>
        <form action="/" method="GET" class="container-sm">
            <div class="mb-3 form-check">
                <input type="submit" class="btn btn-primary" value="Cerrar sesión">
            </div>
        </form>
        <form action="/admin" method="GET" class="container-sm">
            <div class="mb-3 form-check">
                <input type="submit" class="btn btn-primary" value="Volver">
            </div>
        </form>
    </div>
 <center> 
   <img class="imagenelim" src="https://1000logos.net/wp-content/uploads/2023/05/Skull-Emoji.png"/>
  </center>
</center>