<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/juegingles.css">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <title>Aprende ingles</title>
</head>
<body class="bodying">
  <div class="container">
    <div class="question"></div>
    <div class="choices">
      <input type="checkbox" class="choice" id="choice1">
      <label for="choice1" id="choice1-text"></label></br>
      <input type="checkbox" class="choice" id="choice2">
      <label for="choice2" id="choice2-text"></label></br>
      <input type="checkbox" class="choice" id="choice3">
      <label for="choice3" id="choice3-text"></label></br>
      <input type="checkbox" class="choice" id="choice4">
      <label for="choice4" id="choice4-text"></label></br>
    </div>
    <input type='submit' class="submit" value='Verificar' onclick="checkChoice()"> 
    <div class="result"></div>
  </div>
  <script src="js/ingles.js"></script>
</body>