<link rel="stylesheet" href="css/matrepaso.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Lilita+One&family=Neuton&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300&display=swap" rel="stylesheet">
    <div class="wrapper fadeInDown"><h1 class="reptitmat">MATEMÁTICA </h1>
     
<div id="repcontenido">
<h2 class="repmatematica">¿Qué es la matemática?</h2>
<div id="repfotofrac"><img src="https://images.vexels.com/media/users/3/204855/isolated/preview/059fb7440f9ed3084d05043bdb3cc899-ilustracion-de-calculadora-matematica.png"
   width="330" />
  <h3 class="reptexto"><p>La <span style="text-decoration: underline;"><em><strong>matem&aacute;tica</strong> </em></span>es como un juego de resolver acertijos con n&uacute;meros, formas y patrones. Te ayuda a contar, medir cosas, sumar, restar, multiplicar y dividir. Tambi&eacute;n te permite entender las formas y c&oacute;mo funcionan las cosas en el mundo. &iexcl;Es como una s&uacute;per herramienta para resolver misterios y hacer muchas cosas divertidas!<img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-laughing.gif" alt="laughing" /></p></h3>
</div>
  
<div id="repcontenido">
<h2 class="repmatematica">La suma +</h2>
<div id="repfotofrac"><img src="https://static.vecteezy.com/system/resources/previews/013/799/606/original/colorful-numbers-pattern-symbol-math-background-stock-png.png"
   width="330" />
  <h3 class="reptexto">
    <p>La <span style="text-decoration: underline;"><strong>suma</strong></span> es una manera de juntar dos o m&aacute;s n&uacute;meros para encontrar el total. Puedes pensar en ella como un juego de agregar cosas. Para sumar, sigue estos pasos:</p>
<ul style="list-style-type: circle;">
<li>Mira los n&uacute;meros que quieres sumar.</li>
<li>Comienza con el primer n&uacute;mero y agrega el segundo n&uacute;mero a &eacute;l.</li>
<li>Luego, si tienes m&aacute;s n&uacute;meros, sigue sum&aacute;ndolos uno por uno.</li>
<li>Cuando hayas sumado todos los n&uacute;meros, tendr&aacute;s el total, &iexcl;y eso es la suma!</li>
</ul>
<p>Por ejemplo, si quieres sumar 3 + 2: Comienzas con 3. Luego, agregas 2 a 3: 3 + 2 = 5. &iexcl;El total es 5! &iexcl;As&iacute; de simple es la suma! Puedes practicar sumando diferentes n&uacute;meros para divertirte y aprender.</p>
  </h3>
</div>
  
  <h2 class="repmatematica">La resta</h2>
<div id="repfotofrac"><img src="https://png.pngtree.com/png-clipart/20230913/original/pngtree-addition-clipart-boy-teaching-math-and-counting-numbers-cartoon-vector-png-image_11058478.png"
   width="330" />
  <h3 class="reptexto"><p>La <span style="text-decoration: underline;"><em><strong>resta</strong> </em></span>es una operaci&oacute;n que utilizamos cuando queremos averiguar cu&aacute;nto queda despu&eacute;s de quitar una cantidad de otra.</p>
<p><span style="text-decoration: underline;"> Para realizar una resta</span>:</p>
<ul>
<li>Mira los dos n&uacute;meros que quieres restar.</li>
<li>Comienza con el n&uacute;mero m&aacute;s grande.</li>
<li>Luego, quita el n&uacute;mero m&aacute;s peque&ntilde;o de &eacute;l.</li>
<li>El resultado es la resta.</li>
</ul>
<p><span style="text-decoration: underline;">Por ejemplo, si quieres restar 5 - 3</span>:</p>
<ul>
<li>Comienzas con 5 (el n&uacute;mero m&aacute;s grande).</li>
<li>Luego, le quitas 3 a 5: 5 - 3 = 2.</li>
<li>&iexcl;El resultado es 2!</li>
</ul></h3>
</div>

<h2 class="repmatematica">Multiplicar</h2>
<div id="repfotofrac"><img src="https://www.clipartmax.com/png/full/123-1230134_%C2%BFde-d%C3%B3nde-surgi%C3%B3-la-idea-de-enigmas-para-antes-de-ir-ni%C3%B1os.png"
   width="330" />
  <h3 class="reptexto"><p>La <span style="text-decoration: underline;"><em><strong>multiplicaci&oacute;n</strong> </em></span>es una operaci&oacute;n que se usa para encontrar el resultado de sumar un n&uacute;mero muchas veces. Para multiplicar dos n&uacute;meros:</p>
<ul>
<li>Mira los dos n&uacute;meros que quieres multiplicar.</li>
<li>Comienza con el primer n&uacute;mero. Luego, repite el segundo n&uacute;mero de veces que indica el primer n&uacute;mero.</li>
<li>El resultado es la multiplicaci&oacute;n.</li>
</ul>
<p>Por ejemplo, si quieres multiplicar 4 x 3: Comienzas con 4. Luego, repites 3 veces el 4: 4 x 3 = 12. &iexcl;El resultado es 12!</p></h3>
</div>
  <div class="bggeo">
   <!-- Puntitos-->
<div class="bgapi">
  <div class="dotWrapper dotWrapper-1">
    <div class="dot dot-1"></div>
  </div>
  <div class="dotWrapper dotWrapper-2">
    <div class="dot dot-2"></div>
  </div>
  <div class="dotWrapper dotWrapper-3">
    <div class="dot dot-3"></div>
  </div>
  <div class="dotWrapper dotWrapper-4">
    <div class="dot dot-4"></div>
  </div>
  <div class="dotWrapper dotWrapper-5">
    <div class="dot dot-5"></div>
  </div>
  <div class="dotWrapper dotWrapper-6">
    <div class="dot dot-6"></div>
  </div>
  <div class="dotWrapper dotWrapper-7">
    <div class="dot dot-7"></div>
  </div>
  <div class="dotWrapper dotWrapper-8">
    <div class="dot dot-8"></div>
  </div>
  <div class="dotWrapper dotWrapper-9">
    <div class="dot dot-9"></div>
  </div>
  <div class="dotWrapper dotWrapper-10">
    <div class="dot dot-10"></div>
  </div>
  <div class="dotWrapper dotWrapper-11">
    <div class="dot dot-11"></div>
  </div>
  <div class="dotWrapper dotWrapper-12">
    <div class="dot dot-12"></div>
  </div>
  <div class="dotWrapper dotWrapper-13">
    <div class="dot dot-13"></div>
  </div>
  <div class="dotWrapper dotWrapper-14">
    <div class="dot dot-14"></div>
  </div>
  <div class="dotWrapper dotWrapper-15">
    <div class="dot dot-15"></div>
  </div>
  <div class="dotWrapper dotWrapper-16">
    <div class="dot dot-16"></div>
  </div>
  <div class="dotWrapper dotWrapper-17">
    <div class="dot dot-17"></div>
  </div>
  <div class="dotWrapper dotWrapper-18">
    <div class="dot dot-18"></div>
  </div>
  <div class="dotWrapper dotWrapper-19">
    <div class="dot dot-19"></div>
  </div>
  <div class="dotWrapper dotWrapper-20">
    <div class="dot dot-20"></div>
  </div>
  <div class="dotWrapper dotWrapper-21">
    <div class="dot dot-21"></div>
  </div>
  <div class="dotWrapper dotWrapper-22">
    <div class="dot dot-22"></div>
  </div>
  <div class="dotWrapper dotWrapper-23">
    <div class="dot dot-23"></div>
  </div>
  <div class="dotWrapper dotWrapper-24">
    <div class="dot dot-24"></div>
  </div>
  <div class="dotWrapper dotWrapper-25">
    <div class="dot dot-25"></div>
  </div>
  <div class="dotWrapper dotWrapper-26">
    <div class="dot dot-26"></div>
  </div>
  <div class="dotWrapper dotWrapper-27">
    <div class="dot dot-27"></div>
  </div>
  <div class="dotWrapper dotWrapper-28">
    <div class="dot dot-28"></div>
  </div>
  <div class="dotWrapper dotWrapper-29">
    <div class="dot dot-29"></div>
  </div>
  <div class="dotWrapper dotWrapper-30">
    <div class="dot dot-30"></div>
  </div>
  <div class="dotWrapper dotWrapper-31">
    <div class="dot dot-31"></div>
  </div>
  <div class="dotWrapper dotWrapper-32">
    <div class="dot dot-32"></div>
  </div>
  <div class="dotWrapper dotWrapper-33">
    <div class="dot dot-33"></div>
  </div>
  <div class="dotWrapper dotWrapper-34">
    <div class="dot dot-34"></div>
  </div>
  <div class="dotWrapper dotWrapper-35">
    <div class="dot dot-35"></div>
  </div>
  <div class="dotWrapper dotWrapper-36">
    <div class="dot dot-36"></div>
  </div>
  <div class="dotWrapper dotWrapper-37">
    <div class="dot dot-37"></div>
  </div>
  <div class="dotWrapper dotWrapper-38">
    <div class="dot dot-38"></div>
  </div>
  <div class="dotWrapper dotWrapper-39">
    <div class="dot dot-39"></div>
  </div>
  <div class="dotWrapper dotWrapper-40">
    <div class="dot dot-40"></div>
  </div>
  <div class="dotWrapper dotWrapper-41">
    <div class="dot dot-41"></div>
  </div>
  <div class="dotWrapper dotWrapper-42">
    <div class="dot dot-42"></div>
  </div>
  <div class="dotWrapper dotWrapper-43">
    <div class="dot dot-43"></div>
  </div>
  <div class="dotWrapper dotWrapper-44">
    <div class="dot dot-44"></div>
  </div>
  <div class="dotWrapper dotWrapper-45">
    <div class="dot dot-45"></div>
  </div>
  <div class="dotWrapper dotWrapper-46">
    <div class="dot dot-46"></div>
  </div>
  <div class="dotWrapper dotWrapper-47">
    <div class="dot dot-47"></div>
  </div>
  <div class="dotWrapper dotWrapper-48">
    <div class="dot dot-48"></div>
  </div>
  <div class="dotWrapper dotWrapper-49">
    <div class="dot dot-49"></div>
  </div>
  <div class="dotWrapper dotWrapper-50">
    <div class="dot dot-50"></div>
  </div>
  <div class="dotWrapper dotWrapper-51">
    <div class="dot dot-51"></div>
  </div>
  <div class="dotWrapper dotWrapper-52">
    <div class="dot dot-52"></div>
  </div>
  <div class="dotWrapper dotWrapper-53">
    <div class="dot dot-53"></div>
  </div>
  <div class="dotWrapper dotWrapper-54">
    <div class="dot dot-54"></div>
  </div>
  <div class="dotWrapper dotWrapper-55">
    <div class="dot dot-55"></div>
  </div>
  <div class="dotWrapper dotWrapper-56">
    <div class="dot dot-56"></div>
  </div>
  <div class="dotWrapper dotWrapper-57">
    <div class="dot dot-57"></div>
  </div>
  <div class="dotWrapper dotWrapper-58">
    <div class="dot dot-58"></div>
  </div>
  <div class="dotWrapper dotWrapper-59">
    <div class="dot dot-59"></div>
  </div>
  <div class="dotWrapper dotWrapper-60">
    <div class="dot dot-60"></div>
  </div>
  <div class="dotWrapper dotWrapper-61">
    <div class="dot dot-61"></div>
  </div>
  <div class="dotWrapper dotWrapper-62">
    <div class="dot dot-62"></div>
  </div>
  <div class="dotWrapper dotWrapper-63">
    <div class="dot dot-63"></div>
  </div>
  <div class="dotWrapper dotWrapper-64">
    <div class="dot dot-64"></div>
  </div>
  <div class="dotWrapper dotWrapper-65">
    <div class="dot dot-65"></div>
  </div>
  <div class="dotWrapper dotWrapper-66">
    <div class="dot dot-66"></div>
  </div>
  <div class="dotWrapper dotWrapper-67">
    <div class="dot dot-67"></div>
  </div>
  <div class="dotWrapper dotWrapper-68">
    <div class="dot dot-68"></div>
  </div>
  <div class="dotWrapper dotWrapper-69">
    <div class="dot dot-69"></div>
  </div>
  <div class="dotWrapper dotWrapper-70">
    <div class="dot dot-70"></div>
  </div>
  <div class="dotWrapper dotWrapper-71">
    <div class="dot dot-71"></div>
  </div>
  <div class="dotWrapper dotWrapper-72">
    <div class="dot dot-72"></div>
  </div>
  <div class="dotWrapper dotWrapper-73">
    <div class="dot dot-73"></div>
  </div>
  <div class="dotWrapper dotWrapper-74">
    <div class="dot dot-74"></div>
  </div>
  <div class="dotWrapper dotWrapper-75">
    <div class="dot dot-75"></div>
  </div>
</div> 

  