#questions-page__question{
    margin-top:60px;
    
  }
  #question-image {
    max-width: 8cm; 
    width: 100%; 
    height: 150px; 
    display: block;
    margin: 0 auto;
    padding-bottom:20px;
  }
  
  .img-responsive {
    max-width: 8cm;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  html {
    font-size: 60%;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
   font-family: 'Bebas Neue', sans-serif;
  }
  
  body {
    background: ;
    font-size: 1rem;
    font-family: "Bebas Neue";#019393animation:
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 480px;
    font-family: 'Bebas Neue', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6, div, p, i {
    margin: 0;s
  }
  
  form {
    margin-top: 20px;
  }
  
  /* Container divs*/
  .init-page,
  .questions-page,
  .results-page {
    height: 100%;
  }
  
  .container {
    width: 90%;
    height: 100%;
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
  }
  /* Botón */
  .btn {
    font-family: 'Bebas Neue', sans-serif; 
    margin: 2rem auto 0;
    display: block;
    width: 100%;
    font-size: 2.5rem;
    padding: 1.5rem 0;
    background: #FFA500; /* Cambiado a color naranja */
    border: none;
    border-radius: 25px; /* Añadido para hacerlo más redondeado */
    color: #ffffff; /* Color de texto blanco */
  }
  
  /* TITLE PAGE */
  
  .titulop{
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;  
    font-size: 5rem;
    color: black;
  }
  
  .init-page__icon {
    font-size: 20rem;
    margin: 0;
  }
  
  /* QUESTIONS PAGE*/
  
  .questions-page__question {
    padding: 0;
    font-size: 2.2rem;
    height: 11rem;
    color: black
  }
  
  .questions-page__answer-list {
    padding: 0;
    list-style-type: none;
    font-size: 2rem;
    line-height: 5rem;
    margin-top: -10%;
  }
  
  .questions-page__answer-line {
    margin: 0 auto;
    width: 75%;
    cursor: pointer;
  }
  
  .questions-page__selection-div {
    float: left;
    padding-left: 1rem;
    font-size: 2.75rem;
  }
  
  .questions-page__feedback-div {
    float: right;
    padding-right: 1rem;
    font-size: 2.5rem;
  }
  
  .questions-page--correct {
    background: #76B574;
  }
  
  .questions-page--incorrect {
    background: #FEA680;
  }
  
  .btn-holder {
    height: 6rem;
  }
  
  /* RESULTS PAGE */
  
  .results-page__info {
    font-size: 3rem;
  }
  
  .results-page__score {
    font-size: 10rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    color: black;
  }
  
  .results-page__spanish-btn {
    margin-top: 3rem;
  }
  
  .results-page__spanish-btn-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
  }
  
  
  /* ----------------------------
  MEDIA QUERIES
  ---------------------------- */
  
  @media screen and (min-width: 480px) {
  
    html {
      font-size: 85%;
    }
  
    body {
      min-height: 700px;
    }
  
    .container {
      width: 80%;
    }
  
    .questions-page__question {
      height: 8rem;
    }
  
  }
  
  @media screen and (min-width: 1100px) {
  
    html {
      font-size: 100%;
    }
  
    body {
      min-height: 800px;
    }
  
  }
  .bgrepcien {
    color: #FFA500;
    }
   
  .bggeo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: -1;
  }
  
  .bggeo .dotWrapper {
    position: absolute;
  }
  
  .bggeo .dotWrapper-1 {
    top: 59%;
    left: 64%;
    animation: flying 66s ease-in-out -6.3s infinite alternate;
  }
  
  .bggeo .dotWrapper-2 {
    top: 14%;
    left: 64%;
    animation: flying 60s ease-in-out -6.9s infinite alternate;
  }
  
  .bggeo .dotWrapper-3 {
    top: 66%;
    left: 41%;
    animation: flying 41s ease-in-out -6.9s infinite alternate;
  }
  
  .bggeo .dotWrapper-4 {
    top: 86%;
    left: 99%;
    animation: flying 36s ease-in-out -5.4s infinite alternate;
  }
  
  .bggeo .dotWrapper-5 {
    top: 30%;
    left: 38%;
    animation: flying 69s ease-in-out -3.5s infinite alternate;
  }
  
  .bggeo .dotWrapper-6 {
    top: 11%;
    left: 42%;
    animation: flying 64s ease-in-out -2s infinite alternate;
  }
  
  .bggeo .dotWrapper-7 {
    top: 1%;
    left: 38%;
    animation: flying 38s ease-in-out -2.8s infinite alternate;
  }
  
  .bggeo .dotWrapper-8 {
    top: 97%;
    left: 77%;
    animation: flying 22s ease-in-out -1.2s infinite alternate;
  }
  
  .bggeo .dotWrapper-9 {
    top: 69%;
    left: 3%;
    animation: flying 64s ease-in-out -1.9s infinite alternate;
  }
  
  .bggeo .dotWrapper-10 {
    top: 76%;
    left: 65%;
    animation: flying 41s ease-in-out -4.3s infinite alternate;
  }
  
  .bggeo .dotWrapper-11 {
    top: 78%;
    left: 63%;
    animation: flying 47s ease-in-out -1.3s infinite alternate;
  }
  
  .bggeo .dotWrapper-12 {
    top: 7%;
    left: 95%;
    animation: flying 52s ease-in-out -5.4s infinite alternate;
  }
  
  .bggeo .dotWrapper-13 {
    top: 55%;
    left: 32%;
    animation: flying 41s ease-in-out -1.5s infinite alternate;
  }
  
  .bggeo .dotWrapper-14 {
    top: 53%;
    left: 69%;
    animation: flying 23s ease-in-out -4s infinite alternate;
  }
  
  .bggeo .dotWrapper-15 {
    top: 57%;
    left: 93%;
    animation: flying 49s ease-in-out -6.3s infinite alternate;
  }
  
  .bggeo .dotWrapper-16 {
    top: 83%;
    left: 33%;
    animation: flying 21s ease-in-out -0.6s infinite alternate;
  }
  
  .bggeo .dotWrapper-17 {
    top: 32%;
    left: 23%;
    animation: flying 54s ease-in-out -5.3s infinite alternate;
  }
  
  .bggeo .dotWrapper-18 {
    top: 84%;
    left: 88%;
    animation: flying 45s ease-in-out -3.4s infinite alternate;
  }
  
  .bggeo .dotWrapper-19 {
    top: 92%;
    left: 29%;
    animation: flying 56s ease-in-out -9.1s infinite alternate;
  }
  
  .bggeo .dotWrapper-20 {
    top: 33%;
    left: 25%;
    animation: flying 26s ease-in-out -3.7s infinite alternate;
  }
  
  .bggeo .dotWrapper-21 {
    top: 100%;
    left: 66%;
    animation: flying 60s ease-in-out -0.4s infinite alternate;
  }
  
  .bggeo .dotWrapper-22 {
    top: 18%;
    left: 94%;
    animation: flying 63s ease-in-out -2.7s infinite alternate;
  }
  
  .bggeo .dotWrapper-23 {
    top: 70%;
    left: 36%;
    animation: flying 37s ease-in-out -2.6s infinite alternate;
  }
  
  .bggeo .dotWrapper-24 {
    top: 100%;
    left: 30%;
    animation: flying 49s ease-in-out -2.3s infinite alternate;
  }
  
  .bggeo .dotWrapper-25 {
    top: 20%;
    left: 51%;
    animation: flying 63s ease-in-out -9.2s infinite alternate;
  }
  
  .bggeo .dotWrapper-26 {
    top: 7%;
    left: 66%;
    animation: flying 41s ease-in-out -1.4s infinite alternate;
  }
  
  .bggeo .dotWrapper-27 {
    top: 24%;
    left: 8%;
    animation: flying 60s ease-in-out -0.6s infinite alternate;
  }
  
  .bggeo .dotWrapper-28 {
    top: 92%;
    left: 7%;
    animation: flying 67s ease-in-out -5.5s infinite alternate;
  }
  
  .bggeo .dotWrapper-29 {
    top: 77%;
    left: 10%;
    animation: flying 56s ease-in-out -1.7s infinite alternate;
  }
  
  .bggeo .dotWrapper-30 {
    top: 4%;
    left: 46%;
    animation: flying 40s ease-in-out -8.1s infinite alternate;
  }
  
  .bggeo .dotWrapper-31 {
    top: 15%;
    left: 45%;
    animation: flying 30s ease-in-out -8.4s infinite alternate;
  }
  
  .bggeo .dotWrapper-32 {
    top: 94%;
    left: 33%;
    animation: flying 40s ease-in-out -9.2s infinite alternate;
  }
  
  .bggeo .dotWrapper-33 {
    top: 41%;
    left: 13%;
    animation: flying 52s ease-in-out -4.5s infinite alternate;
  }
  
  .bggeo .dotWrapper-34 {
    top: 87%;
    left: 18%;
    animation: flying 62s ease-in-out -3.8s infinite alternate;
  }
  
  .bggeo .dotWrapper-35 {
    top: 37%;
    left: 75%;
    animation: flying 32s ease-in-out -9.1s infinite alternate;
  }
  
  .bggeo .dotWrapper-36 {
    top: 61%;
    left: 16%;
    animation: flying 54s ease-in-out -2.8s infinite alternate;
  }
  
  .bggeo .dotWrapper-37 {
    top: 89%;
    left: 79%;
    animation: flying 59s ease-in-out -7.6s infinite alternate;
  }
  
  .bggeo .dotWrapper-38 {
    top: 90%;
    left: 92%;
    animation: flying 46s ease-in-out -5.2s infinite alternate;
  }
  
  .bggeo .dotWrapper-39 {
    top: 68%;
    left: 83%;
    animation: flying 35s ease-in-out -6.4s infinite alternate;
  }
  
  .bggeo .dotWrapper-40 {
    top: 10%;
    left: 60%;
    animation: flying 24s ease-in-out -0.8s infinite alternate;
  }
  
  .bggeo .dotWrapper-41 {
    top: 98%;
    left: 34%;
    animation: flying 56s ease-in-out -3.1s infinite alternate;
  }
  
  .bggeo .dotWrapper-42 {
    top: 100%;
    left: 76%;
    animation: flying 44s ease-in-out -2.7s infinite alternate;
  }
  
  .bggeo .dotWrapper-43 {
    top: 78%;
    left: 17%;
    animation: flying 37s ease-in-out -7.8s infinite alternate;
  }
  
  .bggeo .dotWrapper-44 {
    top: 49%;
    left: 68%;
    animation: flying 33s ease-in-out -10s infinite alternate;
  }
  
  .bggeo .dotWrapper-45 {
    top: 48%;
    left: 99%;
    animation: flying 69s ease-in-out -9.8s infinite alternate;
  }
  
  .bggeo .dotWrapper-46 {
    top: 44%;
    left: 54%;
    animation: flying 31s ease-in-out -4s infinite alternate;
  }
  
  .bggeo .dotWrapper-47 {
    top: 80%;
    left: 84%;
    animation: flying 30s ease-in-out -4.6s infinite alternate;
  }
  
  .bggeo .dotWrapper-48 {
    top: 91%;
    left: 1%;
    animation: flying 59s ease-in-out -8.6s infinite alternate;
  }
  
  .bggeo .dotWrapper-49 {
    top: 68%;
    left: 97%;
    animation: flying 35s ease-in-out -8.7s infinite alternate;
  }
  
  .bggeo .dotWrapper-50 {
    top: 20%;
    left: 27%;
    animation: flying 33s ease-in-out -0.6s infinite alternate;
  }
  
  .bggeo .dotWrapper-51 {
    top: 12%;
    left: 6%;
    animation: flying 49s ease-in-out -0.6s infinite alternate;
  }
  
  .bggeo .dotWrapper-52 {
    top: 45%;
    left: 74%;
    animation: flying 24s ease-in-out -7.2s infinite alternate;
  }
  
  .bggeo .dotWrapper-53 {
    top: 2%;
    left: 78%;
    animation: flying 38s ease-in-out -7.7s infinite alternate;
  }
  
  .bggeo .dotWrapper-54 {
    top: 40%;
    left: 3%;
    animation: flying 66s ease-in-out -3.5s infinite alternate;
  }
  
  .bggeo .dotWrapper-55 {
    top: 88%;
    left: 68%;
    animation: flying 24s ease-in-out -0.5s infinite alternate;
  }
  
  .bggeo .dotWrapper-56 {
    top: 31%;
    left: 17%;
    animation: flying 46s ease-in-out -0.9s infinite alternate;
  }
  
  .bggeo .dotWrapper-57 {
    top: 25%;
    left: 93%;
    animation: flying 35s ease-in-out -5.8s infinite alternate;
  }
  
  .bggeo .dotWrapper-58 {
    top: 24%;
    left: 26%;
    animation: flying 50s ease-in-out -6.6s infinite alternate;
  }
  
  .bggeo .dotWrapper-59 {
    top: 66%;
    left: 56%;
    animation: flying 34s ease-in-out -3.9s infinite alternate;
  }
  
  .bggeo .dotWrapper-60 {
    top: 39%;
    left: 53%;
    animation: flying 47s ease-in-out -7.5s infinite alternate;
  }
  
  .bggeo .dotWrapper-61 {
    top: 42%;
    left: 1%;
    animation: flying 23s ease-in-out -2.6s infinite alternate;
  }
  
  .bggeo .dotWrapper-62 {
    top: 10%;
    left: 68%;
    animation: flying 54s ease-in-out -7.1s infinite alternate;
  }
  
  .bggeo .dotWrapper-63 {
    top: 21%;
    left: 39%;
    animation: flying 28s ease-in-out -0.5s infinite alternate;
  }
  
  .bggeo .dotWrapper-64 {
    top: 76%;
    left: 9%;
    animation: flying 57s ease-in-out -9.7s infinite alternate;
  }
  
  .bggeo .dotWrapper-65 {
    top: 42%;
    left: 82%;
    animation: flying 68s ease-in-out -2.1s infinite alternate;
  }
  
  .bggeo .dotWrapper-66 {
    top: 63%;
    left: 53%;
    animation: flying 40s ease-in-out -4.4s infinite alternate;
  }
  
  .bggeo .dotWrapper-67 {
    top: 44%;
    left: 14%;
    animation: flying 55s ease-in-out -2.4s infinite alternate;
  }
  
  .bggeo .dotWrapper-68 {
    top: 35%;
    left: 80%;
    animation: flying 29s ease-in-out -8s infinite alternate;
  }
  
  .bggeo .dotWrapper-69 {
    top: 87%;
    left: 78%;
    animation: flying 31s ease-in-out -5.6s infinite alternate;
  }
  
  .bggeo .dotWrapper-70 {
    top: 25%;
    left: 19%;
    animation: flying 28s ease-in-out -1.3s infinite alternate;
  }
  
  .bggeo .dot {
    width: 10px;
    height: 10px;
    background: #FFA500;
    border-radius: 50%;
  }
  
  .bggeo .dot-1 {
    transform-origin: 3px 2px;
    animation: rotating 10s ease-in-out -2.9s infinite;
  }
  
  .bggeo .dot-2 {
    transform-origin: 19px 6px;
    animation: rotating 7s ease-in-out -9.8s infinite;
  }
  
  .bggeo .dot-3 {
    transform-origin: 0px 11px;
    animation: rotating 14s ease-in-out -4.9s infinite;
  }
  
  .bggeo .dot-4 {
    transform-origin: 13px 0px;
    animation: rotating 7s ease-in-out -6.8s infinite;
  }
  .bggeo .dot-5 {
    transform-origin: 16px 14px;
    animation: rotating 12s ease-in-out -4.3s infinite;
  }
  .bggeo .dot-6 {
    transform-origin: -3px 6px;
    animation: rotating 7s ease-in-out -2.6s infinite;
  }
  .bggeo .dot-7 {
    transform-origin: 15px 12px;
    animation: rotating 7s ease-in-out -7.2s infinite;
  }
  .bggeo .dot-8 {
    transform-origin: 6px 13px;
    animation: rotating 14s ease-in-out -0.7s infinite;
  }
  .bggeo .dot-9 {
    transform-origin: 11px 1px;
    animation: rotating 15s ease-in-out -4.1s infinite;
  }
  .bggeo .dot-10 {
    transform-origin: -3px -10px;
    animation: rotating 6s ease-in-out -2.8s infinite;
  }
  .bggeo .dot-11 {
    transform-origin: 5px -14px;
    animation: rotating 9s ease-in-out -8.3s infinite;
  }
  .bggeo .dot-12 {
    transform-origin: 14px -9px;
    animation: rotating 10s ease-in-out -7s infinite;
  }
  .bggeo .dot-13 {
    transform-origin: 7px -6px;
    animation: rotating 10s ease-in-out -1.3s infinite;
  }
  .bggeo .dot-14 {
    transform-origin: 14px 15px;
    animation: rotating 8s ease-in-out -5.2s infinite;
  }
  .bggeo .dot-15 {
    transform-origin: 14px 12px;
    animation: rotating 13s ease-in-out -5.5s infinite;
  }
  .bggeo .dot-16 {
    transform-origin: 4px -6px;
    animation: rotating 11s ease-in-out -5.9s infinite;
  }
  .bggeo .dot-17 {
    transform-origin: -4px -3px;
    animation: rotating 7s ease-in-out -9.4s infinite;
  }
  .bggeo .dot-18 {
    transform-origin: 20px 0px;
    animation: rotating 15s ease-in-out -2.9s infinite;
  }
  .bggeo .dot-19 {
    transform-origin: 24px -8px;
    animation: rotating 14s ease-in-out -1.5s infinite;
  }
  .bggeo .dot-20 {
    transform-origin: 12px -1px;
    animation: rotating 13s ease-in-out -3.2s infinite;
  }
  .bggeo .dot-21 {
    transform-origin: 0px 10px;
    animation: rotating 13s ease-in-out -2.1s infinite;
  }
  .bggeo .dot-22 {
    transform-origin: 8px -8px;
    animation: rotating 15s ease-in-out -5.2s infinite;
  }
  .bggeo .dot-23 {
    transform-origin: 22px 3px;
    animation: rotating 15s ease-in-out -5.3s infinite;
  }
  .bggeo .dot-24 {
    transform-origin: -3px 5px;
    animation: rotating 12s ease-in-out -3.1s infinite;
  }
  .bggeo .dot-25 {
    transform-origin: 3px -1px;
    animation: rotating 12s ease-in-out -2.8s infinite;
  }
  .bggeo .dot-26 {
    transform-origin: 24px -2px;
    animation: rotating 15s ease-in-out -4.2s infinite;
  }
  .bggeo .dot-27 {
    transform-origin: 15px 3px;
    animation: rotating 9s ease-in-out -1.1s infinite;
  }
  .bggeo .dot-28 {
    transform-origin: 13px 8px;
    animation: rotating 6s ease-in-out -6.2s infinite;
  }
  .bggeo .dot-29 {
    transform-origin: 20px 12px;
    animation: rotating 14s ease-in-out -6.8s infinite;
  }
  .bggeo .dot-30 {
    transform-origin: 7px -8px;
    animation: rotating 10s ease-in-out -4.4s infinite;
  }
  .bggeo .dot-31 {
    transform-origin: 2px -12px;
    animation: rotating 12s ease-in-out -8.8s infinite;
  }
  .bggeo .dot-32 {
    transform-origin: 19px -4px;
    animation: rotating 8s ease-in-out -9.4s infinite;
  }
  .bggeo .dot-33 {
    transform-origin: 8px -8px;
    animation: rotating 10s ease-in-out -3.4s infinite;
  }
  .bggeo .dot-34 {
    transform-origin: -2px -2px;
    animation: rotating 7s ease-in-out -3.5s infinite;
  }
  .bggeo .dot-35 {
    transform-origin: 10px 14px;
    animation: rotating 9s ease-in-out -9s infinite;
  }
  .bggeo .dot-36 {
    transform-origin: 0px -1px;
    animation: rotating 9s ease-in-out -1.1s infinite;
  }
  .bggeo .dot-37 {
    transform-origin: 15px 8px;
    animation: rotating 6s ease-in-out -7.2s infinite;
  }
  .bggeo .dot-38 {
    transform-origin: 14px -10px;
    animation: rotating 15s ease-in-out -9.9s infinite;
  }
  .bggeo .dot-39 {
    transform-origin: 19px -6px;
    animation: rotating 8s ease-in-out -8.9s infinite;
  }
  .bggeo .dot-40 {
    transform-origin: 16px 7px;
    animation: rotating 13s ease-in-out -2.6s infinite;
  }
  .bggeo .dot-41 {
    transform-origin: 2px 0px;
    animation: rotating 6s ease-in-out -2.2s;
  }
  .bggeo .dot-42 {
    transform-origin: -4px 8px;
    animation: rotating 6s ease-in-out -9.3s infinite;
  }
  .bggeo .dot-43 {
    transform-origin: 22px 2px;
    animation: rotating 7s ease-in-out -6s infinite;
  }
  .bggeo .dot-44 {
    transform-origin: -2px -13px;
    animation: rotating 7s ease-in-out -0.4s infinite;
  }
  .bggeo .dot-45 {
    transform-origin: 21px -10px;
    animation: rotating 13s ease-in-out -1.2s infinite;
  }
  .bggeo .dot-46 {
    transform-origin: 1px 7px;
    animation: rotating 8s ease-in-out -7.5s infinite;
  }
  .bggeo .dot-47 {
    transform-origin: -4px 13px;
    animation: rotating 7s ease-in-out -1.7s infinite;
  }
  .bggeo .dot-48 {
    transform-origin: 25px 2px;
    animation: rotating 11s ease-in-out -7.4s infinite;
  }
  .bggeo .dot-49 {
    transform-origin: 0px 12px;
    animation: rotating 14s ease-in-out -8.9s infinite;
  }
  .bggeo .dot-50 {
    transform-origin: 8px -2px;
    animation: rotating 11s ease-in-out -5.8s infinite;
  }
  @keyframes rotating {
  0% {
  opacity: 0;
  transform: rotate(0deg);
  }
  25%, 75% {
  opacity: 0;
  }
  50% {
  opacity: 0;
  }
  100% {
  opacity: 0;
  transform: rotate(360deg);
  }
  }
   @keyframes flying {
  0% {
  transform: translate(0, 0);
  }
  10% {
  transform: translate(20px, 50px);
  }
  20% {
  transform: translate(-30px, 10px);
  }
  30% {
  transform: translate(10px, 60px);
  }
  40% {
  transform: translate(50px, 0px);
  }
  50% {
  transform: translate(-10px, -40px);
  }
  60% {
  transform: translate(-40px, 20px);
  }
  70% {
  transform: translate(30px, -30px);
  }
  80% {
  transform: translate(0px, -60px);
  }
  90% {
  transform: translate(40px, 10px);
  }
  100% {
  transform: translate(0, 0);
  }
  
  /* OTHERS */
  
  *:focus {
      outline: none;
  }
  
  #icon {
    width:60%;
  }
  
  * {
    box-sizing: border-box;
  }
   
  
  button:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  }
  
  @keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }